.container {
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.pokemon-card {
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.pokemon-card:hover {
  transform: scale(1.05);
}
.types {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.type-item {
  background-color: #fffdfd;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin:10px
}



