<mat-toolbar color="primary">
  Pokémon Explorer
</mat-toolbar>
 <app-search
  (search)="onSearchHandler($event)"
></app-search>
<!--handle filter by type in next -->
<!--handle pagination-->

<div class="container">

  <div class="grid">

 @for (pokemon of filteredList(); track pokemon.name ;let i = $index) {

  <mat-card class="pokemon-card"  [routerLink]="['/pokemon', pokemon.name]">

     <img
      mat-card-image
      [src]="pokemon.image"
    />

    <mat-card-title>
      {{ pokemon.name }}
    </mat-card-title>
     <div class="types">
          @for (type of pokemon.types; track type) {
            <span class="type-item">
              {{ type }}
            </span>

          }

        </div>
  </mat-card>

}

  </div>

</div>
