
.details-card {
  max-width: 600px;
  margin: 20px auto ;
  padding: 20px;
  border-radius: 16px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.section {
  margin-top: 20px;
}

.type-item {
  display: inline-block;
  margin: 4px;
  padding: 4px 10px;
  border-radius: 999px;
  background: #eee;
}
.progress-bar{
    margin-bottom: 10px;
      height: 8px;
  border-radius: 10px;
}
.stats-container {
  width: 100%;
  max-width: 400px;
}

.stat-row {
  margin-bottom: 14px;
}

.stat-header , .extra-info{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 4px;
  color: #333;
   
}

.stat-name ,.info {
  font-weight: 600;
}

