.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem 7%;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  overflow: hidden;
}

.hero-content {
  flex: 1;
}

.hero h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-weight: 800;
}

.hero h1 span {
  color: #facc15;
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #cbd5e1;
  max-width: 550px;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.primary-btn {
  padding: 0.9rem 1.8rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  background-color: #facc15;
  color: #111827;
}

.primary-btn:hover {
  transform: translateY(-3px);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 400px;
  max-width: 100%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
